*{
  margin: 0;
  padding: 0;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: saddlebrown;
   color: white;
   padding: 10px 20px;
   
 }
.logo {
  font-size: 24px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #00bcd4;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: saddlebrown;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
